node_modules
.env
.DS_Store

backend/node_modules
frontend/node_modules
frontend/dist

backend/uploads/music/*
backend/uploads/covers/*
backend/uploads/lyrics/*

!backend/uploads/music/.gitkeep
!backend/uploads/covers/.gitkeep
!backend/uploads/lyrics/.gitkeep
